*{
  padding:0;
  margin:0;
  background-color:black;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.best{
  color:red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#form {
  display:flex;
  flex-direction:column;
  width:200px;
  padding:10px;
}

.poembox {
  display:flex;
  width:50%;
  height:fit-content;
  color:red;
}
.one {
  width:300px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-left:330px;
  margin-top:70px;
  border:2px solid wheat;
  padding:10px 200px 10px 100px;

}
.poemdisplay {
  list-style-type:none;
  color:aliceblue;
}
#selecttitle{
  margin-top:10px;
  color:teal;
  padding:6px 5px;
  border:2px solid groove;
}
.button {
  color:goldenrod;
  background-color:white;
  padding:5px;
  font-weight:bold;
  margin-top:10px;
}
.button:hover{
  background-color:darkolivegreen;
  color:white;

}
.poemlabel {
  color:sandybrown;
  margin:10px 0px;
}

